.title{
	font-family: 'Kdam Thmor Pro', sans-serif;
	color: white;
	z-index: 1;
	font-size: 350%;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
  overflow: hidden;
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
 overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.credits {
	color: #fff;
	opacity: 25%;
	z-index: 1;
	font-family: 'Kdam Thmor Pro', sans-serif;
	position: absolute;
	top: 95%;
	transition: .5s;
	display: flex;
	flex-direction: row;
	width: 30vh;
	align-items: center;

	&:hover{
		opacity: 75%;
		transition: .5s;
	}
}

.repo{
	color: #fff;
	margin-left: 2.5%;
	font-size: 125%;

}
