.photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.photoOftheDay{
    border: 2px solid rgb(132, 132, 132);
    border-radius: 5px;
    width: 50vw;
}

.photo-line-1{
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    width: 150%;
    align-items: center;
    justify-content: center;
}

.photo-title{
	font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 200%;
    // margin-left: 15%;
}

.photo-more{
    font-size: 30px;
    margin-left: 1.5%;
}

.photo-copyright{
	font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 125%;
}

.photo-information{
    width: 15%;
    font-size: 175%;
}
