@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
  background-color: black;
}

#root {
  overflow: hidden;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
}
