@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
  background-color: black;
}

#root {
  overflow: hidden;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
	font-family: 'Kdam Thmor Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background: rgb(75, 75, 75);
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  transition: .5s;
  &:hover{
      background-color: rgb(200, 200, 200);
      transition: .5s;
  }

  &:active{
      background-color: rgb(171, 170, 170);
  }
}