@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: white;
  z-index: 1;
  font-size: 350%;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.credits {
  color: #fff;
  opacity: 25%;
  z-index: 1;
  font-family: "Kdam Thmor Pro", sans-serif;
  position: absolute;
  top: 95%;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  width: 30vh;
  align-items: center;
}
.credits:hover {
  opacity: 75%;
  transition: 0.5s;
}

.repo {
  color: #fff;
  margin-left: 2.5%;
  font-size: 125%;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.photoOftheDay {
  border: 2px solid rgb(132, 132, 132);
  border-radius: 5px;
}

.photo-line-1 {
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  width: 150%;
  align-items: center;
  justify-content: center;
}

.photo-title {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: max(2.9vh, 12px);
}

.photo-more {
  font-size: 30px;
  margin-left: 1.5%;
}

.photo-copyright {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: rgb(165, 165, 165);
  font-size: max(1.8vh, 9px);
}

.photo-information {
  width: 40vw;
  font-size: 0.75vw;
  font-size: max(1.8vh, 9px);
}

.description-line {
  margin-top: 1%;
  margin-top: max(1%, 10px);
}

#container {
  position: relative;
  z-index: 1;
}

#draghandle {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 1;
}

body {
  background-color: black;
}

#root {
  overflow: hidden;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
  font-family: "Kdam Thmor Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: rgb(75, 75, 75);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 200, 200);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(171, 170, 170);
}/*# sourceMappingURL=index.css.map */