body{
  background-color: black;
}

#root {
  /* text-align: center;
  display: flex;
  justify-content: center; */
  width: 90vw;
  min-height: 90vh;
  overflow: hidden;
  overflow-x: hidden;
  background-color: black;
  /* background: linear-gradient(40deg, #262726, #070624, #bebebe, #2d3538);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite; */
  font-family: 'Montserrat', sans-serif
}


@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.row {
  flex-direction: row;
}

.row>* {
  /* margin: 5px; */
}